<html>
<head>
  <title>Gmail Duplicates</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <style>
    body {
      padding-top:80px;
      font-family: 'Roboto', sans-serif;
    }
    a.google {
      text-indent: -999px;
      overflow: hidden;
      width: 191px;
      height: 46px;
      background-repeat: no-repeat;
      background-position: top left;
      background-size: 191px 46px;
      background-image: url('assets/btn_google_signin_dark_normal_web.png');
    }
    a.google:focus {
      background-image: url('assets/btn_google_signin_dark_focus_web.png');
    }
    a.google:active {
      background-image: url("assets/btn_google_signin_dark_pressed_web.png");
    }
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      a.google {
        background-size: 382px 92px;
        background-image: url('assets/btn_google_signin_dark_normal_web2x.png');
      }
      a.google:focus {
        background-image: url('assets/btn_google_signin_dark_focus_web2x.png');
      }
      a.google:active {
        background-image: url("assets/btn_google_signin_dark_pressed_web2x.png");
      }
    }
  </style>
</head>
<body>
  <!-- https://purecss.io/layouts/email/# -->
  <div id="layout" class="content pure-g">
    <div id="nav" class="pure-u">
      <a href="#" class="nav-menu-button">Menu</a>
      <div class="nav-inner">
        <a href="/signin" class="google">Sign-in with Google</a>
      </div>
    </div>
    <div id="main" class="pure-u-1">
      <h1>Hello World</h1>
    </div>
  </div>
</body>
</html>
